h1 {
  text-align: center;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(171, 35, 35);
  margin: 0 0 0.5em 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
  background: rgb(27, 166, 52);
  text-align: center;
}

#RGBinput {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  margin-top: 4%;
}

#RGBGetter {
  text-align: end;
}

#SubmitField {
  text-align: center;
  margin-top: 4%;
}

#SubmitButton_location {
  text-align: end;
}

.output_rgb {
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin: 0 0 0.5em 0;
  padding: 0;
  background: rgb(255, 255, 255);
  text-align: center;
}

.output_img {
  text-align: center;
  margin-top: 40px;
}

.Return {
  text-align: center;
  margin-top: 40px;
  font-size: 130%;
}

.ReturnButton {
  color: rgb(0, 0, 0);
  background-color: #8e8e8e;
  padding-top: 8px;
  padding-left: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  border-radius: 10px;
}
