<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <link href="static/style.css" rel="stylesheet" />
    <link rel="icon" href="static/favicon.ico" />
    <title>画像出力</title>
    <link href="../static/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="output">
      <h2>設定したRGB値</h2>
      <div class="input_rgb">
        <!-- 設定したRGB値 -->
        <p>赤：{{ r }}</p>
        <p>緑：{{ g }}</p>
        <p>青：{{ b }}</p>
      </div>

      <h2>設定地と似ている画像</h2>
      <div class="output_img">
        <!-- 画像出力 -->
        <img src="data:image/png;base64,{{ img }}" alt="画像" />
      </div>
    </div>
    <div>
      <!-- 入力画面に戻る -->
      <a href="/">入力画面に戻る</a>
    </div>
  </body>
</html>
