<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>アップロードされた画像一覧</title>
    <link href="../static/style.css" rel="stylesheet" />
  </head>
  <body>
    <h1>アップロードされた画像一覧</h1>
    <div>
      <ul>
        {% for file in target_files %}
            <div class="col">
                <a href="{{ file['url'] }}" target="_blank">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ file['url'] }}" alt="{{ file['filename'] }}">
                        <div class="card-body">
                            <p class="card-text">{{ file["filename"] }}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
      </ul>
    </div>
    <div class="Return">
      <a class="ReturnButton" href="/templates/index.html">入力画面に戻る</a>
    </div>
  </body>
</html>
