<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>アップロードされた画像一覧</title>
    <link href="../static/style.css" rel="stylesheet" />
  </head>
  <body>
    <h1>アップロードされた画像一覧</h1>
    <div>
      <ul>
        {% for image in images %}
        <p>
          <a href="/static/images/{{ image }}">{{ image }}</a>
        </p>
        {% endfor %}
      </ul>
    </div>
    <div class="Return">
      <a class="ReturnButton" href="/templates/index.html">入力画面に戻る</a>
    </div>
  </body>
</html>
